@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #FFFBFB; 
  margin: 0;
  padding: 0;
}

html, body {
  margin: 0;
  padding: 0;
  overflow-x: hidden; 
}

::-webkit-scrollbar {
  width: 0px; 
  background: transparent; 
}

body {
  -ms-overflow-style: none; 
  scrollbar-width: none;   
}
